html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, 
body {
    margin: 0;
    padding: 0;    
}

html, 
body,
#storyMap {
    height: 100%;
    width: 100%;
}

/* story map container */
#storyMap {   
    margin: 0 auto;    
}

/* story map menu bar */
.vco-menubar-button,
.vco-mobile .vco-menubar-button:hover,
/* map icons */
.vco-map .vco-mapmarker {
    color: #fff;
}

.vco-menubar-button,
.vco-mobile .vco-menubar-button:hover {
    background-color: #0b3c5d;    
}

.vco-menubar-button {    
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.vco-menubar-button:hover,
.vco-menubar-button:focus,
.vco-layout-landscape .vco-storyslider .vco-slidenav-next .vco-slidenav-icon:hover:before, 
.vco-layout-landscape .vco-storyslider .vco-slidenav-previous .vco-slidenav-icon:hover:before,
.vco-layout-landscape .vco-storyslider .vco-slidenav-next .vco-slidenav-icon:focus:before, .vco-layout-landscape .vco-storyslider .vco-slidenav-previous .vco-slidenav-icon:focus:before,
.vco-mobile .vco-menubar-button:active {
    background-color: #d9b310;
}

.vco-storymap p a {
    color: #00e;
    text-decoration: underline;
}

.vco-map .vco-mapmarker-icon:after {
    content: url(../images/pamagic-marker.png);
}

/* before and after buttons */
.vco-layout-landscape .vco-storyslider .vco-slidenav-next .vco-slidenav-icon:before, 
.vco-layout-landscape .vco-storyslider .vco-slidenav-previous .vco-slidenav-icon:before {
    background-color: #0b3c5d;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

/* tour points text */
div.vco-storymap.vco-mobile.vco-layout-landscape > div.vco-storyslider.vco-storyslider {
    z-index: 1500;    
}

.vco-slide-content {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.vco-storymap h2.vco-headline-title {
    font-size: 1.5em;
}

.vco-headline,
.vco-storymap h2 {
    font-size: 1.4em;
}

.vco-text-content {
    font-size: 1.05em;    
}

.vco-text p {
    color: #333;
}

/* leaflet elements */
.vco-map .leaflet-container .leaflet-control-attribution {
    background:  rgba(255,255,255,0.80);
    padding: 8px;
    border-radius: 5px;
}

.vco-map .leaflet-container .leaflet-control-attribution a {
    color: #00f;
}

/* Media Queries */
@media screen and (orientation: landscape) {
    .vco-slide-content {
        padding-left: 10px !important;
        margin-right: -20px !important;
    }
}